apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    com.xebialabs.service: invoice-mysql
  name: invoice-mysql
spec:
  replicas: 1
  selector:
    com.xebialabs.service: invoice-mysql
  strategy:
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      labels:
        com.xebialabs.service: invoice-mysql
    spec:
      containers:
      - env:
        - name: MYSQL_USER
          value: invoice_user
        - name: MYSQL_PASSWORD
          value: changeit
        - name: MYSQL_ROOT_PASSWORD
          value: changeit
        - name: MYSQL_DATABASE
          value: invoice
        readinessProbe:
          exec:
            command:
              - /bin/sh
              - '-i'
              - '-c'
              - >-
                MYSQL_PWD="$MYSQL_PASSWORD" mysql -h 127.0.0.1 -u $MYSQL_USER -D $MYSQL_DATABASE -e 'SELECT 1'
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: 3306
          timeoutSeconds: 1
        image: centos/mysql-57-centos7
        name: invoice-mysql
        resources: {}
        volumeMounts:
        - mountPath: /var/lib/mysql
          name: invoice-mysql-claim0
      restartPolicy: Always
      volumes:
      - name: invoice-mysql-claim0
        persistentVolumeClaim:
          claimName: invoice-mysql-claim0
